<h3 class="dividing-header">Чек</h3>

<div *ngIf="!loading">
  <div class="grid">
    <div class="col-12 md:col-6 xl:col-4">
      <div class="p-fluid">
        <div class="field">
          <label class="fw-bold required-field">Дата составления чека</label>
          <crm-datepicker [(value)]="receipt.date" [class]="errors?.date ? 'ng-invalid ng-dirty' : ''"></crm-datepicker>
          <small *ngIf="errors?.date" class="p-error">{{ errors.date | join }}</small>
        </div>

        <div class="field">
          <label class="fw-bold required-field">Магазин</label>
          <crm-shop-single-select [shops]="shops"
                                  [(selectedShop)]="receipt.shop"
                                  [class]="errors?.shop ? 'ng-invalid ng-dirty' : ''"
                                  [disabled]="!!authService.currentUser.shop">
          </crm-shop-single-select>
          <small *ngIf="errors?.shop" class="p-error">{{ errors.shop | join }}</small>
        </div>

        <div class="field">
          <label class="fw-bold required-field">Способ оплаты</label>
          <p-selectButton [options]="paymentTypes" (onChange)="receipt.paymentMethod = $event.value; updateAnalytics()"
                          optionLabel="label" optionValue="value">
          </p-selectButton>
          <small *ngIf="errors?.paymentMethod" class="p-error">{{ errors.paymentMethod | join }}</small>
        </div>

        <div class="field">
          <label class="fw-bold required-field">Итоговая сумма</label>
          <p *ngIf="!receipt.paymentMethod">Выберите способ оплаты</p>
          <div *ngIf="receipt.paymentMethod === PaymentTypeEnum.SO_SO" class="pb-2">
            <p-checkbox [(ngModel)]="isCashless" [binary]="true" inputId="isCashless"></p-checkbox>
            <label [for]="'isCashless'" class="ml-2">Ввести безналичные</label>
          </div>
          <div class="grid mt-3">
            <div *ngIf="receipt.paymentMethod === PaymentTypeEnum.CASH || receipt.paymentMethod === PaymentTypeEnum.SO_SO" class="p-inputgroup col">
              <span class="p-float-label">
                <p-inputNumber [(ngModel)]="receipt.amountCash"
                               inputId="amountCash"
                               [disabled]="isCashless || receipt.paymentMethod === PaymentTypeEnum.CASH"
                               (ngModelChange)="updateAnalytics()">
                </p-inputNumber>
                <label [for]="'amountCash'">Наличными</label>
              </span>
              <span class="p-inputgroup-addon">руб.</span>
            </div>

            <div *ngIf="receipt.paymentMethod === PaymentTypeEnum.CASHLESS || receipt.paymentMethod === PaymentTypeEnum.SO_SO"
                 class="p-inputgroup col">
              <span class="p-float-label">
                <p-inputNumber [(ngModel)]="receipt.amountCashless"
                               inputId="amountCashless"
                               [disabled]="!isCashless || receipt.paymentMethod === PaymentTypeEnum.CASHLESS"
                               (ngModelChange)="updateAnalytics()">
                </p-inputNumber>
                <label [for]="'amountCashless'">Безналичными</label>
              </span>
              <span class="p-inputgroup-addon">руб.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <p class="fw-bold required-field mb-3">Товары</p>
      <p-pickList [source]="products"
                  [target]="receipt.products"
                  (onMoveToSource)="updateCountProduct($event, 0); updateAnalytics()"
                  (onMoveToTarget)="updateCountProduct($event, 1); updateAnalytics()"
                  sourceHeader="Все товары"
                  targetHeader="Выбранные товары"
                  [dragdrop]="true"
                  [responsive]="true"
                  [sourceStyle]="{'height':'30rem'}"
                  [targetStyle]="{'height':'30rem'}"
                  filterBy="name"
                  sourceFilterPlaceholder="Название"
                  targetFilterPlaceholder="Название">
        <ng-template let-product pTemplate="item">
          <div *ngIf="toProduct(product) as product" class="flex align-items-center w-full">
            <div class="pr-2">
              <p-image *ngIf="product.image"
                       [src]="('file/' + product.image.path) | apiUrl"
                       [alt]="product.name" width="75">
              </p-image>
              <p-skeleton *ngIf="!product.image" size="5rem"></p-skeleton>
            </div>
            <div>
              <p class="mb-2 fw-bold">{{ product.name }}</p>
              <div *ngIf="product.category">
                <i class="pi pi-tag"></i>
                <span class="ml-1">{{ product.category?.name }}</span>
              </div>
            </div>
            <div class="text-right flex-grow-1">
              <div>
                <small>{{ product.price | number }} руб.</small>
              </div>
              <p-inputNumber *ngIf="receipt.products.includes(product)"
                             class="mt-1"
                             [(ngModel)]="product.count"
                             (ngModelChange)="updateAnalytics()"
                             [inputStyle]="{ 'width.px': 50 }"
                             [showButtons]="true">
              </p-inputNumber>
            </div>
          </div>
        </ng-template>
      </p-pickList>
    </div>

    <div class="col-12 mt-4">
      <button pButton label="Сохранить" icon="pi pi-check" class="p-button-success mr-2" (click)="create()"></button>
      <crm-go-back-button [route]="'/product'"></crm-go-back-button>
    </div>
  </div>
</div>

<crm-spinner *ngIf="loading"></crm-spinner>
