<h3 class="dividing-header">Чек</h3>

<div *ngIf="!loading">
  <div class="grid">
    <div class="col-12 md:col-6 xl:col-4">
      <div class="p-fluid">
        <div class="field">
          <label class="fw-bold required-field">Дата составления чека</label>
          <crm-datepicker [(value)]="receipt.date" [class]="errors?.date ? 'ng-invalid ng-dirty' : ''"></crm-datepicker>
          <small *ngIf="errors?.date" class="p-error">{{ errors.date | join }}</small>
        </div>

        <div class="field">
          <crm-shop-single-select [shops]="shops"
                                  [(selectedShop)]="receipt.shop"
                                  labelInput="Магазин"
                                  [class]="errors?.shop ? 'ng-invalid ng-dirty' : ''"
                                  [disabled]="!!authService.currentUser.shop">
          </crm-shop-single-select>
          <small *ngIf="errors?.shop" class="p-error">{{ errors.shop | join }}</small>
        </div>
      </div>
    </div>

    <div class="col-12">
      <p-pickList [source]="products" [target]="receipt.products" sourceHeader="Все товары" targetHeader="Выбранные товары"
                  [responsive]="true" [sourceStyle]="{'height':'30rem'}" [targetStyle]="{'height':'30rem'}" filterBy="name"
                  sourceFilterPlaceholder="Название" targetFilterPlaceholder="Название">
        <ng-template let-product pTemplate="item">
          <div *ngIf="toProduct(product) as product" class="product-item">
            <div class="image-container">
              <p-image *ngIf="product.image"
                       [src]="('file/' + product.image.path) | apiUrl"
                       [alt]="product.name" width="75">
              </p-image>
              <p-skeleton *ngIf="!product.image" size="5rem"></p-skeleton>
            </div>
            <div class="product-list-detail">
              <h5 class="mb-2">{{ product.name }}</h5>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{ product.category }}</span>
            </div>
            <div class="product-list-action">
              <h6 class="mb-2">{{ product.price }} руб.</h6>
            </div>
          </div>
        </ng-template>
      </p-pickList>
    </div>

    <div class="col-12 mt-4">
      <button pButton label="Сохранить" icon="pi pi-check" class="p-button-success mr-2" (click)="create()"></button>
      <crm-go-back-button [route]="'/product'"></crm-go-back-button>
    </div>
  </div>
</div>

<crm-spinner *ngIf="loading"></crm-spinner>
