<div class="grid">
  <div *ngIf="authService.checkRoles([RoleEnum.GENERAL_MANAGER, RoleEnum.STORE_DIRECTOR])" class="col-12">
    <crm-widget-money-turnover [report]="moneyTurnover"
                               [shops]="shops"
                               [loading]="moneyTurnoverLoading"
                               (changeQueryParams)="loadMoneyTurnover($event)">
    </crm-widget-money-turnover>
  </div>

  <div *ngIf="authService.checkRoles([RoleEnum.GENERAL_MANAGER, RoleEnum.STORE_DIRECTOR])" class="col-12">
    <crm-widget-traffic [traffic]="traffics"
                        [shops]="shops"
                        [loading]="trafficsLoading"
                        (changeQueryParams)="loadTraffic($event)">
    </crm-widget-traffic>
  </div>

  <div *ngIf="authService.checkRoles([RoleEnum.GENERAL_MANAGER])" class="col-12 xl:col-6">
    <crm-widget-salary [payslip]="payslip"
                       [loading]="payslipLoading"
                       (changeQueryParams)="loadPayslip($event)">
    </crm-widget-salary>
  </div>

  <div *ngIf="authService.checkRoles([RoleEnum.GENERAL_MANAGER, RoleEnum.STORE_DIRECTOR])" class="col-12 xl:col-6">
    <crm-widget-receipt [receipts]="receipts"
                        [shops]="shops"
                        [loading]="receiptsLoading"
                        (changeQueryParams)="loadReceipts($event)">
    </crm-widget-receipt>
  </div>

  <div *ngIf="authService.checkRoles([RoleEnum.GENERAL_MANAGER, RoleEnum.STORE_DIRECTOR])" class="col-12 xl:col-6">
    <crm-widget-order [orders]="orders"
                      [shops]="shops"
                      [loading]="ordersLoading"
                      (changeQueryParams)="loadOrders($event)">
    </crm-widget-order>
  </div>
</div>
