<div *ngIf="!loading" class="grid mt-6">
  <div class="col-12 sm:col-4 xl:col-2 mt-4">
    <img class="w-full" *ngIf="user && user.avatar" [src]="('file/' + user.avatar.path) | apiUrl" (load)="showAvatar = true" alt="avatar" />
    <p-skeleton *ngIf="!showAvatar" width="100%" height="250px"></p-skeleton>
  </div>

  <div *ngIf="user" class="col-12 sm:col-8 xl:col-5 pl-2 sm:pl-4">
    <h1 class="ml-3">{{ user.name }}</h1>
    <p-table [value]=[null]>
      <ng-template pTemplate="body">
        <tr>
          <td class="fw-bold">Дата рождения</td>
          <td class="fw-semibold">{{ user.dateOfBirth | date: 'dd MMMM YYYY' }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Дата начала работы</td>
          <td class="fw-semibold">{{ user.startDate | date: 'dd MMMM YYYY' }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Магазин</td>
          <td class="fw-semibold">{{ user.shop?.address }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Телефон</td>
          <td class="fw-semibold">{{ user.telephone | phone }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Адрес жительства</td>
          <td class="fw-semibold">{{ user.address }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Должность</td>
          <td class="fw-semibold">{{ user.position }}</td>
        </tr>
        <tr>
          <td class="fw-bold">График работы</td>
          <td class="fw-semibold">{{ user.schedule | scheduleName }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Зарплата</td>
          <td class="fw-semibold">{{ user.salary | number }} руб.</td>
        </tr>
        <tr>
          <td class="fw-bold">Роль(и)</td>
          <td class="fw-semibold">
            <ng-container *ngFor="let role of user.roles; last as isLast">
              {{ role | roleName }}
              <ng-container *ngIf="!isLast">,&nbsp;</ng-container>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <ng-container *ngIf="isEditable">
      <button pButton label="Редактировать"
              class="mt-4 mr-2 p-button-success"
              icon="pi pi-pencil"
              [loading]="loading"
              routerLink="/user/edit/{{ user._id }}">
      </button>
      <button pButton label="Удалить"
              class="p-button-danger"
              icon="pi pi-times"
              [loading]="loading"
              (click)="delete()">
      </button>
    </ng-container>
  </div>

  <div *ngIf="payslip" class="col-12">
    <h3 class="dividing-header">Расчетный лист</h3>

    <crm-table name="payslip"
               styleClass="mt-3 sticky-header"
               [columns]="itemColumns"
               [values]="payslip | orderBy: '-date:date'">
      <ng-template #rowTemplate let-payslip="item">
        <tr *ngIf="toPayslip(payslip) as payslip">
          <td nowrap>
            <p>{{ payslip.date | date: 'dd.MM.YYYY' }}</p>
          </td>
          <td nowrap>
            <p>{{ payslip.dateFrom | date: 'dd.MM.YYYY' }} - {{ payslip.dateTo | date: 'dd.MM.YYYY' }}</p>
          </td>
          <td>
            <p>{{ payslip.description }}</p>
          </td>
          <td>
            <p>{{ payslip.info[0]?.daysWorkedAll }}</p>
          </td>
          <td>
            <p>{{ payslip.info[0]?.daysWorked }}</p>
          </td>
          <td nowrap>
            <p>{{ payslip.info[0]?.sickPay || 0 | number: '.0-2' }} руб.</p>
          </td>
          <td nowrap>
            <p>{{ payslip.info[0]?.vacationPay || 0 | number: '.0-2' }} руб.</p>
          </td>
          <td nowrap>
            <p>{{ payslip.info[0]?.sumEmployee || 0 | number: '.0-2' }} руб.</p>
          </td>
          <td nowrap>
            <p>{{ payslip.info[0]?.premium || 0 }} руб.</p>
          </td>
          <td nowrap>
            <p>{{ payslip.info[0]?.fine || 0 }} руб.</p>
          </td>
          <td>
            <p>{{ payslip.info[0]?.sickDays || 0 }}</p>
          </td>
          <td>
            <p>{{ payslip.info[0]?.vacationDays || 0 }}</p>
          </td>
          <td>
            <p>{{ payslip.info[0]?.description }}</p>
          </td>
        </tr>
      </ng-template>
    </crm-table>
  </div>
</div>

<crm-spinner *ngIf="loading"></crm-spinner>
