<div class="mx-2 grid justify-content-center">
  <div class="col-12 sm:col-8 md:col-6 xl:col-4 mt-8">
    <p class="text-6xl my-0 text-center text-orange-700" style="font-family: 'Book Antiqua', serif">
      Читай-город
    </p>
    <form class="mt-5" autocomplete="on">
      <div class="p-fluid">
        <div class="field">
          <label class="fw-bold required-field">Логин</label>
          <input type="text" pInputText
                 [(ngModel)]="user.login"
                 name="login"
                 [ngClass]="{ 'ng-invalid ng-dirty': errors?.login }"
                 (keyup.enter)="setFocus(password)">
          <small *ngIf="errors?.login" class="p-error">{{ errors.login | join }}</small>
        </div>

        <div class="field">
          <label class="fw-bold required-field">Пароль</label>
          <p-password #password
                      [(ngModel)]="user.password"
                      name="password"
                      [feedback]="false"
                      [ngClass]="{ 'ng-invalid ng-dirty': errors?.password }"
                      (keyup.enter)="clickLogin()">
          </p-password>
          <small *ngIf="errors?.password" class="p-error">{{ errors.password | join }}</small>
        </div>

        <div class="field">
          <button pButton pRipple
                  type="button"
                  label="Войти"
                  class="p-button-success"
                  [loading]="loading"
                  (click)="clickLogin()">
          </button>
        </div>
      </div>
    </form>

    <crm-footer></crm-footer>
  </div>
</div>
