<div class="col-6 xl:col-3">
  <div class="p-fluid">
    <div class="field">
      <p class="text-2xl fw-bold">Смена пароля</p>
    </div>

    <div class="field">
      <label class="fw-bold required-field">Пароль</label>
      <div class="p-inputgroup">
        <button type="button" pButton [icon]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="showPassword = !showPassword"></button>
        <input autocomplete="new-password" [type]="showPassword ? 'text' : 'password'" pInputText
               [ngClass]="{ 'ng-invalid ng-dirty': errors?.password }" [(ngModel)]="body.password">
        <button type="button" pButton label="Сгенерировать" (click)="body.password = userPasswordService.generatePassword()"></button>
      </div>
      <small *ngIf="errors?.password" class="p-error">{{ errors.password | join }}</small>
    </div>

    <div class="field">
      <label class="fw-bold required-field">Повтор пароля</label>
      <input type="text" pInputText [ngClass]="{ 'ng-invalid ng-dirty': errors?.repeatPassword }" [(ngModel)]="body.repeatPassword">
      <small *ngIf="errors?.repeatPassword" class="p-error">{{ errors.repeatPassword | join }}</small>
    </div>

    <div class="field">
      <button pButton pRipple type="button" label="Сменить пароль" class="w-full" [loading]="loading" (click)="onSave(body)"></button>
    </div>

  </div>
</div>
