<p-card styleClass="h-full">

  <div class="flex justify-content-between align-items-center">
    <h3 class="fw-bold mt-1 mb-2">Денежный оборот</h3>
  </div>

  <div class="grid mt-2">
    <div class="col-12 md:col-6">
      <crm-daterangepicker [value]="[filters.from, filters.to]"
                           (changeValue)="setDateFilter($event)"
                           placeholder="Период">
      </crm-daterangepicker>
    </div>

    <div class="col-12 md:col-6">
      <crm-shop-single-select [shops]="shops"
                              [(selectedShop)]="selectedFilters.shop"
                              [disabled]="isDirector"
                              (selectedShopChange)="setShopFilter()"
                              placeholder="Магазин">
      </crm-shop-single-select>
    </div>
  </div>

  <div class="mt-2">
    <crm-chart-group-menu [(activeGroupPeriod)]="activeGroupPeriod" (activeGroupPeriodChange)="updateChart()"></crm-chart-group-menu>
  </div>

  <p-chart *ngIf="chartData" #chart [data]="chartData" [options]="chartOptions" type="line" height="400"></p-chart>
  <p-skeleton *ngIf="!chartData" width="100%" height="400px"></p-skeleton>


  <crm-table name="dashboard.money"
             styleClass="mt-3"
             scrollHeight="400px"
             [columns]="itemColumns"
             [loading]="loading"
             [autoLayout]="true"
             [values]="[null]">
    <ng-template #rowTemplate>
      <tr>
        <td colspan="99" class="fw-bold">ДОХОДЫ</td>
      </tr>
      <tr *ngFor="let item of report.income">
        <td style="min-width: 150px">{{ item.name }}</td>
        <td *ngFor="let key of Object.keys(report.sums[activeGroupPeriod])" style="min-width: 120px">
          {{ item.moneyTurnover[activeGroupPeriod][key] || 0 | number: '.0-0' }} руб.
        </td>
      </tr>
      <tr>
        <td colspan="99" class="fw-bold">РАСХОДЫ</td>
      </tr>
      <tr *ngFor="let item of report.expenses">
        <td style="min-width: 150px">{{ item.name }}</td>
        <td *ngFor="let key of Object.keys(report.sums[activeGroupPeriod])" style="min-width: 120px">
          {{ item.moneyTurnover[activeGroupPeriod][key] || 0 | number: '.0-0' }} руб.
        </td>
      </tr>
    </ng-template>
    <ng-template #footerTemplate>
      <tr>
        <td>
          <p>ДОХОД: {{ report?.sums?.income || 0 | number: '.0-0' }} руб.</p>
        </td>
        <td colspan="99"></td>
      </tr>
      <tr>
        <td>
          <p>РАСХОД: {{ report?.sums?.expenses || 0 | number: '.0-0' }} руб.</p>
        </td>
        <td colspan="99"></td>
      </tr>
      <tr>
        <td>
          <p>РАЗНИЦА: <span [class.text-red]="(report?.sums?.income || 0) - (report?.sums?.expenses || 0) < 0">
            {{ ((report?.sums?.income || 0) - (report?.sums?.expenses || 0)) | number: '.0-0' }} руб.
          </span></p>
        </td>
        <td colspan="99"></td>
      </tr>
    </ng-template>
  </crm-table>

</p-card>
